{% extends "admin.html" %}
{% block content %}
<div class="container">
            <article class="admin-read-container">
                <div class="post-header">
                    <h1 class="post-title">{{post.title}}</h1>
                    <div class="pos-meta" style="display: flex; align-items: center; gap: 10px;">
                        <span>{{user.username}}</span>
                        <p style="color: rgb(129, 128, 128);">{{ post.created_at.strftime('%Y.%m.%d %H:%M') }}</p>
                    </div>
                </div>
                <hr style="border: 0; border-top: 0.5px solid rgb(238, 238, 238);">
                <div class="user-menu">
                    {% if user and (user.is_admin or user.id == post.owner_id) %}  
                    <form action="/admin/edit/{{ post.id }}">
                        <button type="submit" class="edit_button">수정</button>
                    </form>
                    <form action="/board/delete/{{post.id}}" method="post" style="display:inline;"> 
                        <button type="submit" class="edit_button" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
                    </form>
                    {% endif %}
                    <a href="/admin/board" class="btn-link">목록</a>
                </div>
                <hr style="border: 0; border-top: 0.5px solid rgb(238, 238, 238);">
                <div class="read-content">{{post.content|safe}}</div>
                <hr style="border: 0; border-top: 0.5px solid rgb(238, 238, 238);">
                <div class="user-menu">
                    <a href="/admin/board" class="btn-link">목록</a>
                </div>
            </article>
        </div>
    </div>
{% endblock %}
{% block welcome_msg %}{% endblock %}