<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="UTF-8">
    </head>
    <body style="background-color: rgb(235, 242, 248);">       
        <form method="post" action="/login" class="login_form">
            <h1 style="text-align: center;" class="brand-name">Blueprint</h1>
            <label for="username">ID</label>
            <input type="text" id="username" name="username" required><br><br>
                        
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required><br><br>
        
            <input type="submit" class="big_button" value="Sign in to account">
            <div>
            <span style="color: #a8a5a5;">Don't have an account?</span>
            <a href="/register" style="color: black;">Create account →</a>
        </div>
        </form>
        
        <script>
            const urlParams = new URLSearchParams(window.location.search);
            if(urlParams.get('error')==='login_fail'){
                alert('아이디 또는 비밀번호가 잘못되었습니다.')
            }
        </script>
    </body>
</html>
